@use '../utilities/helpers.scss' as helpers;


#about-section{
    background-color: helpers.setColor(bg);
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: fade-in 400ms ease-out forwards;
    // gap: 1rem;
    &>*{
        margin-bottom: 1rem !important;
    }

    .about-col{
        padding: 0 0.50rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &>*{
            margin-bottom: 1rem !important;
        }

        h2{
            text-align: center;
            color: helpers.setColor(secondary);
        }
        
        @include helpers.media(helpers.$tablet){
            flex-basis: 45%;
        }

        @include helpers.media(helpers.$desktop){
            gap: 1rem;
            &>*{
                margin-bottom: 0 !important;
            }
        }

    }

    .profile{
        
        figure{
            text-align: center;
            opacity: 0;
            animation: fade-in 400ms 400ms ease-out forwards;
            img{
                object-fit: cover;
                object-position: center -40px;
                width: 170px;
                height: 170px;
                border-radius: 50%;
            }
        }
        p{
            text-align: center;
            line-height: 1.6;
            color: helpers.setColor(text-color);
            max-width: 40ch;

            @include helpers.media(helpers.$desktop){
                font-size: 1.225rem;
            }
        }

    }

    .skills{
        opacity: 0;
        animation: fade-in 400ms 400ms ease-out forwards;

        .skill-bar{
            display: flex;
            flex-flow: row wrap;
            width: 90%;
            background-color: helpers.setColor(accent-light);
            &-header{
                flex-basis: 30%;
                text-align: center;
                background-color: helpers.setColor(primary);
                color: #ffffff;
            }
            &-level{
                flex-basis: 0;
                transition: flex-basis 600ms ease-out;
                background-color: helpers.setColor(accent);
                color: #ffffff;
                text-align: right;
                padding-right: 0.50rem;

                &> span{
                    opacity: 0;
                }
                
            }

            @include helpers.media(helpers.$tablet){
                width: 100%;
                
                &-header,
                &-level{
                    height: 25px;
                    line-height: 25px;
                }
            }

            @include helpers.media(helpers.$desktop){
                
                &-header,
                &-level{
                    height: 30px;
                    line-height: 30px;
                }
            }

        }
        
        @include helpers.media(helpers.$tablet){
            &>*{
                margin-bottom: 1.3rem !important;
            }

            h2{
                margin-bottom: 1.5rem;
            }
        }

        @include helpers.media(helpers.$desktop){
            &>*{
                margin-bottom: 0 !important;
            }
            gap: 1.3rem;
        }
    }

    @include helpers.media(helpers.$tablet){
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        &>*{
            margin-bottom: 0 !important;
        }

        .section-title{
            flex-basis: 100%;
        }
    }
    
}